{% extends 'base.html' %}

{% block content %}
{% include 'breadcrumbs.html' %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>我的订单</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>订单ID号</th>
					<th>订单状态</th>
					<th>产品</th>
					<th>总价</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
					<td>{{ order.order_id }}</td>
					<td>{{ order.status }}</td>
					<td>
					{% for product in order.cart.products.all %}
						{{ product }}<br>
					{% endfor %}
					</td>
					<td>{{ order.total }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}