{% extends "base.html" %}

{% block content %}

	{% for product in products %}

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="//placehold.it/150x150" alt="{{ product.title }}">
	      <div class="caption text-center">
	        <h3>{{ product.title }}</h3>
	        <p>{{ product.description }}</p>
			<a href='{% url "single_product" product.slug %}' class="btn btn-default" role="button">Details</a>
	      </div>
	    </div>
	  </div>

	{% endfor %}

{% endblock %}