{% extends 'base.html' %}

{% block content %}

{% include 'breadcrumbs.html' %}

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<div class="thumbnail">
			<img src="{{ MEDIA_URL }}{{ product.productimage_set.first.image }}" alt="{{ product.title }}"/>
		</div>
		<div class="caption text-center">
			<form method="POST" action='{% url "my_cart" %}'>
				{% csrf_token %}
				<input type="hidden" name="add" value={{ product.slug }} />
				<button type="submit" class="btn btn-success">Add To Cart</button>
			</form>
		</div>		
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>{{ product.title }}</h3>
		<p><span class="glyphicon glyphicon-usd">{{ product.price }}</span></p>
		<p>{{ product.description }}</p>
	</div>
</div>

{% endblock %}