{% extends 'base.html' %}

{% block content %}

{% include 'breadcrumbs.html' %}

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<div class="thumbnail">
			<img src="{{ MEDIA_URL }}{{ product.productimage_set.first.image }}" alt="{{ product.title }}"/
>		</div>
		<div class="caption text-center">
			<form method="POST" action='{% url "my_cart" %}'>
				{% csrf_token %}
				<input type="hidden" name="product" value={{ product.slug }} />

			 	{% if product.productvariation_set.all %}

				 	{% if product.productvariation_set.sizes %}
				 	<select class='form-control' name='size'>
				 	{% for item in product.productvariation_set.sizes %}
				 		<option value='{{ item.id }}'>{{ item.title }}</option>
				 		{% endfor %}
				 	</select>
				 	{% endif %}

				 	 {% if product.productvariation_set.colors %}
				 	<select class='form-control' name='color'>
				 	{% for item in product.productvariation_set.colors %}
				 		<option value='{{ item.id }}'>{{ item.title }}</option>
				 		{% endfor %}
				 	</select>
				 	{% endif %}

			 	{% endif %}

				<input type="number" min="1" max="9" value="1" name="quantity" class="form-control">
				<br>
				<button type="submit" class="btn btn-success">加入购物车</button>
			</form>
		</div>		
	</div>
	<div class="col-xs-12 col-sm-9">
		<h3>{{ product.title }}</h3>
		<p><span class="glyphicon glyphicon-usd">{{ product.price }}</span></p>
		<p>{{ product.description }}</p>
	</div>
</div>

{% endblock %}