{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% bootstrap_css %}
		<title>{% block title %}Online Store{% endblock %}</title>
	</head>
	<body>
		{% include "navbar.html" %}

		<div class="container">
		
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="alert altert-{{ message.tags }}"{% endif %}>
			
				    <button type="button" class="close" data-dismiss="alert">&times;</button>
				    {{ message }}
			    </li>
			    {% endfor %}
			</ul>
			{% endif %}

			{% block content %}

			{% endblock %}
		</div>
		{% block scripts %}
			<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
			{% bootstrap_javascript %}
		{% endblock %}
	</body>
</html>

