<nav class="navbar navbar-default">
	<div class="container">
	    <!-- <div class="navbar-header"> -->
	    <div class="col-xs-8 col-md-8">
			<div class="nav" style="margin: .4em">
				<form role="search" action="{% url 'search_products' %}">
					<div class="input-group">
						<input type="text" name="term" class="form-control" placeholder="搜索我们的产品...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit">提交</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		<div class="col-xs-2 col-md-2 nav">
			<ul class="nav navbar-nav">
				<li>
					<a href='{% url "my_cart" %}'>
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<span class="badge">
							{% if 'total_items' in request.session %}
								{{ request.session.total_items }}
							{% else %}
								0
							{% endif %}
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-2 col-md-2  nav">	
			<ul class="nav navbar-nav">
			{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的账户<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'user_account_info' %}">账户明细</a></li>
							<li><a href="{% url 'my_orders' %}">订单记录</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{% url 'user_logout' %}">退出</a></li>
						</ul>
					</li>
			{% else %}
				<a href='{% url "user_login" %}'><span class='navbar-text'>登陆</span></a>
			{% endif %}
			</ul>
		</div>
	    <!-- </div> -->
	</div>
</nav>