<nav class="navbar navbar-default">
	<div class="container-fluid">
	    <div class="navbar-header">
			<form class="col-xs-6 col-sm-4 navbar-text navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Go!</button>
					</span>
				</div>
			</form>
			<ul class="col-xs-2 col-sm-3 nav" style="margin-top:0.5em">
				<li class="navbar-text pull-right">
					<span class="glyphicon glyphicon-shopping-cart"></span>
					<span class="badge">0</span>
				</li>
			</ul>
			<ul class="col-xs-4 col-sm-3 nav navbar-text">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Link</a></li>
					</ul>
				</li>
			</ul>
	    </div>
	</div>
</nav>