defusedxml==0.4.1
Django==1.9.1
django-allauth==0.24.1
django-bootstrap3==6.2.2
django-extensions==1.5.9
django-localflavor==1.2
django-widget-tweaks==1.4.1
easypost==3.1.0
oauthlib==1.0.3
Pillow==3.1.0
python3-openid==3.0.9
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
stripe==1.28.0
wheel==0.24.0
