{% extends "base.html" %}

{% block title %}
Billing Address - {{ block.super }}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' %}
<div class='col-md-3'>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{% url 'user_account_info' %}">Account Info</a></li>	
		<li role="presentation" class="active"><a href="#">Billing Address</a></li>	
		<li role="presentation"><a href="{% url 'user_mailing_address' %}">Mailing Address</a></li>
	</ul>
</div>
<div class='col-md-9'>
	<h3>Billing Address</h3>
	<form action="{% url 'user_billing_address' %}" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input class='btn btn-primary' type="submit" value="提交" />
	</form>
</div>
{% endblock %}