{% extends "base.html" %}

{% block title %}
Mailing Address - {{ block.super }}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' %}
<div class='col-md-3'>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{% url 'user_account_info' %}">账户信息</a></li>
		{% comment %}
		<li role="presentation"><a href="{% url 'user_billing_address' %}">Billing Address</a></li>
		{% endcomment %}
		<li role="presentation" class="active"><a href="#">邮件地址</a></li>	  
	</ul>
</div>
<div class='col-md-9'>
	<h3>邮件地址</h3>
	<form {% ifequal do_redirect 'yes'%}action="{% url 'user_mailing_address' do_redirect='yes' %}"{% else %}action="{% url 'user_mailing_address' %}"{% endifequal%} method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input class='btn btn-primary' type="submit" value="提交" />
	</form>
</div>
{% endblock %}