{% extends "base.html" %}

{% block title %}
Mailing Address - {{ block.super }}
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' %}
<div class='col-md-3'>
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="{% url 'user_account_info' %}">Account Info</a></li>
		<li role="presentation"><a href="{% url 'user_billing_address' %}">Billing Address</a></li>
		<li role="presentation" class="active"><a href="#">Mailing Address</a></li>	  
	</ul>
</div>
<div class='col-md-9'>
	<h3>Mailing Address</h3>
	{% ifequal do_redirect 'yes' %}
	{{do_redirect}}
	{% else %}
	no
	{% endifequal %}
	<form {% ifequal do_redirect 'yes'%}action="{% url 'user_mailing_address' do_redirect='yes' %}"{% else %}action="{% url 'user_mailing_address' %}"{% endifequal%} method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Submit" />
	</form>
</div>
{% endblock %}