{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
      <form method="POST" action="{% url 'user_register' %}">
      {% csrf_token %}
        <h2 class="form-signin-heading">注册账户</h2>
    		{{ form.email }} {{ form.errors.email }}
        {{ form.username }} {{ form.errors.username }}
        {{ form.password }} {{ form.errors.password }}
        {{ form.password_confirm }} {{ form.errors.password_confirm }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </form>
      </div>
</div>
{% endblock %}